In [1]:
#Quantas pessoas irÃ£o sobreviver ao Titanic?
#importando os dados de treino
import pandas as pd
import numpy as np

In [2]:
#importando os dados de treino
bordotrain = pd.read_csv('train.csv')

In [3]:
bordotrain.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
#transformando a coluna PassengerID em index
bordotrain = bordotrain.set_index(['PassengerId'])

KeyError: "None of ['PassengerId'] are in the columns"

In [6]:
bordotrain

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [7]:
#deletando as colunas que não farão diferença em nossa predição
del bordotrain['Name']
del bordotrain['Ticket']
del bordotrain['Cabin']
del bordotrain['Embarked']

In [8]:
#transformando sexo em dado numérico
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
lblencod = LabelEncoder()
bordotrain.iloc[:, 2:3] = lblencod.fit_transform(bordotrain.iloc[:, 2:3])

C:\Users\Rachid Elihimas\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

In [22]:
#dados faltantes (idade)
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values = np.nan, strategy = 'median')
imputer = imputer.fit(bordotrain.iloc[:, 3:4])
bordotrain.iloc[:, 3:4] = imputer.transform(bordotrain.iloc[:, 3:4])

In [30]:
#montando as variáveis de treino
xtrain = bordotrain.iloc[:, 1:7]
ytrain = bordotrain.iloc[:, :1]

In [31]:
#importando do
bordoteste = pd.read_csv('test.csv')
y_test = pd.read_csv('gender_submission.csv')

In [32]:
#transformando a coluna PassengerID em index
bordoteste = bordoteste.set_index(['PassengerId'])

In [33]:
#deletando as colunas que não farão diferença em nossa predição
del bordoteste['Name']
del bordoteste['Ticket']
del bordoteste['Cabin']
del bordoteste['Embarked']

In [34]:
#transformando sexo em dado numérico
bordoteste.iloc[:, 1:2] = lblencod.fit_transform(bordoteste.iloc[:, 1:2])

C:\Users\Rachid Elihimas\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

In [35]:
#dados faltantes (idade)
imputer2 = SimpleImputer(missing_values = np.nan, strategy = 'median')
imputer2 = imputer2.fit(bordoteste.iloc[:, 2:3])
bordoteste.iloc[:, 2:3] = imputer2.transform(bordoteste.iloc[:, 2:3])

In [36]:
imputer3 = SimpleImputer(missing_values = np.nan, strategy = 'median')
imputer3 = imputer3.fit(bordoteste.iloc[:, 5:6])
bordoteste.iloc[:, 5:6] = imputer3.transform(bordoteste.iloc[:, 5:6])

In [37]:
#treinando o modelo
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.ensemble import RandomForestClassifier

In [38]:
xtrain.isnull().sum()

Pclass    0
Sex       0
Age       0
SibSp     0
Parch     0
Fare      0
dtype: int64

In [39]:
floresta = RandomForestClassifier(n_estimators = 100)
floresta.fit(xtrain, ytrain)

<ipython-input-39-b690c55b98f7>:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  floresta.fit(xtrain, ytrain)

RandomForestClassifier()

In [40]:
previsao = floresta.predict(bordoteste)
confusao = confusion_matrix(y_test, previsao)
taxa_acerto = accuracy_score(y_test, previsao)

In [42]:
#gráficos
import matplotlib.pyplot as plt
from yellowbrick.classifier import ConfusionMatrix

In [48]:
y_test = pd.read_csv('gender_submission.csv')

In [50]:
v = ConfusionMatrix(RandomForestClassifier())
v.fit(xtrain, ytrain)
v.score(bordoteste, y_test)
v.poof()

C:\Users\Rachid Elihimas\anaconda3\lib\site-packages\yellowbrick\base.py:390: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.estimator.fit(X, y, **kwargs)

ValueError: Classification metrics can't handle a mix of multiclass-multioutput and binary targets